* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f2f2f2;
    color: #333;
  }
  
  h3 {
    text-align: center;
  }

  .container-main {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    display: grid;

  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  header {
    background-color: teal;
    color: #fff;
    padding: 10px 0;
  }
  
  header h1 {
    font-size: 200%;
    text-align: center;
  }
  
  article, .article-card {
    background-color: #fff;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  article h2, .article-card h2 {
    font-size: 150%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  p {
    line-height: 1.5;
  }
  
  footer {
    background-color: teal;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }

  .box-teploty-den {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }

  .teplota {
    display: flex;
    flex-direction: column;
    align-items: center;
  }